html,
body {
  height: 100%;
}

header {
  padding-left: 16px;
  border-bottom: 1px solid #ccc;
}

#container {
  display: flex;
  height: 100%;
}

#sidebar {
  max-width: 150px;
  min-width: 150px;
  border-right: 1px solid #ccc;
  padding: 16px;
}

main {
  padding: 16px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

thead {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

h1,
h2 {
  padding-left: 10px;
  border-left: 7px solid #3cb3e4;
}

label {
  margin-right: 10px;
  display: inline-block;
  width: 160px;
}
